@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');
.container-about-us{
    
    display: flex;
    padding: 80px 132px 80px 132px;
    gap: 110px;
    justify-content: space-around;
    font-family: 'Epilogue', sans-serif;
}
.container-about-us h2{
    font-size: 40px;
    font-weight: 600;
}
.container-about-us p{
    font-size: 14px;
    font-weight: 300;
    letter-spacing: -0.02em;
}
.container-abt-video{
    display: grid;
    grid-template-columns: 439px 380px;
    line-height: 18px;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
}
.container-abt-video img{
    width: 203%;
}

