.container-about-us{
    // background-color: red;
    display: grid;
    // grid-template-columns: 174px 859px ;
    grid-template-columns: 1fr 2fr ;
    justify-content: space-around;
    gap: 40px;
    margin-inline: 9.1%;
}
.container-about-us h2{
    font-size: 40px;
    font-weight: 600;
    margin-top: 80px;
    line-height: 44px;
    letter-spacing: -0.02em;
}
.abt-us-content p{
    margin-block: 0px;
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: -0.02em;
}
.grid-abt-1{
    max-width: 439px;
    
}
.grid-abt-2{
    max-width: 380px;
    
}
.abt-us-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 80px;
}

.abt-us-img img{
    width: 100%;
}
@media (max-width: 1024px) and (min-width: 769px){
    .container-about-us h2{
        margin-left: 0%;
        padding: 15px;
    }
    .abt-blank{
        display: none;
    }
    .container-about-us{
        display: grid;
        margin-inline: 32px;
        grid-template-columns: 30% 1fr;
        gap: 10px;
        justify-content: center;
}
    .grid-abt-1{
        max-width: auto;
}
    .grid-abt-2{
        max-width: auto;
}
    .abt-us-img{
        width: 100%;
        height: 465px;
        grid-column: 1 / span 2;
        max-height: auto;
        padding: 0px;
    }
    .abt-us-content{
        // gap: 10px;
        gap: 10px;
        max-width: 100%;
        
    }
}
@media (max-width: 768px){
    .container-about-us h2{
        width: 100%;
    }
    .container-about-us{
        grid-template-columns: auto;
        grid-auto-flow: row;
        grid-template-rows: 10%;
        gap: 20px;
    }
    .abt-us-content{
        height: auto;
        grid-template-columns: 1fr;
        gap: 20px;
    }
    
    .grid-abt-1,
    .grid-abt-2{
        max-width: 100%;
        padding: 0 15px 0 15px;
    }
    .abt-us-img img{
        height: 365px;
    }
}

//aqwe
