@import url("https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css");

a{
  text-decoration: none;
  color: white;
  font-weight: 400;
}

header{
  height: 100%;
  width: 100%;
  display: grid;
  padding-bottom: 50px;
  background-color: #141414;
  font-family: 'Epilogue';
  color: white;
  align-items: center;
}
.header-sec{
  height: 75px;
  width: 80%;
  display: flex;
  margin: auto 132px;
  column-gap: 1%;
  justify-content: center;
  align-items: center;
}
.logo{
  font-size: 15px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.logo img{
  margin-right: 5px;
}
nav{
  margin-left: 50px;
  display: flex;
  flex-grow: 1;
  align-items: center;
  gap: 2em;
  font-size: 9px;
}
.contact-no{
  height: 48px;
  width: 159px;
  background-color: #1E2827;
  border-radius: 8px;
  font-size: 9px;
  text-align: center;
  align-content: center;
}
.hero-sec{
  height: auto;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: auto 132px;
}
.hero-sec h1{
  height: auto;
  width: 70%;
  font-size: 60px;
  line-height: 62px;
  letter-spacing: -4;
}
.hero-sec p{
  height: auto;
  width: 25%;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
}
.swiper{
  height: 320px;
  width: 436px;
  margin-left: 0;
  margin-bottom: 10px;
}
.swiper-slide{
  height: 255px;
  width: 436px;
  background-color: #1E2827;
  display: flex;
  justify-content: center;
}
.watch-slide-img{
  height: 233px;
  width: 348px;
}
.swiper-button-next {
  width: 40px;
  height: 40px;
  border: solid 2px white;
  border-radius: 8px;
  --swiper-navigation-size: 20px;
  --swiper-navigation-top-offset: 90%;
  --swiper-navigation-sides-offset: 80%;
  --swiper-navigation-color: white
}
.swiper-button-prev {
  width: 40px;
  height: 40px;
  border: solid 2px white;
  border-radius: 8px;
  --swiper-navigation-size: 20px;
  --swiper-navigation-top-offset: 90%;
  --swiper-navigation-sides-offset: 0;
  --swiper-navigation-color: white
}
.swiper-pagination{
  width: fit-content;
  letter-spacing: -2;
  left: 83%;
  bottom: 5%;
}
.highlight-img{
  height: 394px;
  width: 60%;
}

// tablet
@media screen and (max-width: 1024px) and (min-width: 769px) {
  header{
    display:flex;
    flex-direction: column;
    row-gap: 0;
  }
  .header-sec{
    width: 95%;
    margin: auto 32px;
  }
  .hero-sec{
    width: 95%;
    flex-direction: row-reverse;
    justify-content: left;
    margin: auto 32px;
  }
  .hero-sec h1{
    height: auto;
    width: 653px;
    margin-right: 105px;
  }
  .hero-sec p{
    width: 248px;
  }
  .swiper{
    width: 436px;
  }
  .swiper-button-next{
  --swiper-navigation-sides-offset: 75%;
  }
  .swiper-pagination{
    left: 78%;
  }
  .highlight-img{
    width: 100%;
  }

}
.nav-collapse{
  display: none;
}
@media screen and (max-width: 768px) {
header{
  width: fit-content;
}
.header-sec{
  width: 95%;
  display: grid;
  grid-template-columns: repeat(2, 50%);
}
.logo{
  font-size: 14px;
  font-weight: 300;
}
.header-sec, .hero-sec{
  margin: 0 auto;
}
nav, .contact-no{
  display: none;
}
.nav-collapse{
  justify-self: end;
  height: 24px;
  display: grid;
  grid-template-rows: 1px 2px 1px;
  gap: 5px;
  align-items: center;
  justify-content: left;
  background: none;
  color: white;
  font-weight: bold;
  border: none;
}
.nav-collapse div{
  height: 2px;
  width: 20px;
  border-radius: 8px;
  background-color: white;
}
.nav-collapse div:first-of-type{
  width: 12px;
}
.nav-collapse div:last-of-type{
  width: 14px;
}
.mobile-menu{
  height: 100svh;
  width: 100dvw;
  margin: 0;
  background-color: #1E2827;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  animation: menu-open .3s 1;
}
.menu-head{
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 20px;
}
.menu-head span{
  height: 12px;
  width: 12px;
  font-weight: 300;
  justify-self: end;
}
.nav-mobile{
  height: fit-content;
  width: 100px;
  display: grid;
  grid-template-rows: repeat(3, 10px);
  margin: 50% auto;
  font-size: 14px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.hero-sec{
  width: 95%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, auto);
}
.hero-sec h1{
  height: auto;
  width: 90%;
  font-size: 38px;
  line-height: 40px;
  letter-spacing: -2;
}
.hero-sec p{
  height: 108px;
  width: 260px !important;
  grid-row: 3;
  justify-self: end;
  }
.swiper{
  width: 80%;
  height: 260px;
}
.swiper-slide{
  height: 200px;
}
.watch-slide-img{
  height: 200px;
}
.swiper-button-next {
  width: 40px;
  height: 40px;
  border: solid 2px white;
  border-radius: 8px;
  --swiper-navigation-size: 20px;
  --swiper-navigation-top-offset: 85%;
  --swiper-navigation-sides-offset: 90%;
  left: 3rem;
  --swiper-navigation-color: white
}
.swiper-button-prev{
  --swiper-navigation-top-offset:85%;
}
.swiper-pagination{
  width: fit-content;
  letter-spacing: -2;
  left: unset;
  right: 0;
  bottom: 5%;
}
.highlight-img{
  width: 100%;
}

}
@keyframes menu-open {
  0%{right: 0; width: 0;}
  25%{right: 20%; }
  100%{right: 100%; }
  }
.menuClose{
  animation: menu-close .3s 1;
}
@keyframes menu-close {
  0%   {left: 0px;}
  75%  {left: 500px}
  }