
<div class="container-about-us">
    <h2>About us</h2>
        <div class="abt-us-content">
        <div class="grid-abt-1">
            <p>Welcome to our premium watch collection, where luxury and style meet functionality and precision. Our selection of timepieces embodies the very best in Swiss craftsmanship and engineering, ensuring that you'll always have a reliable and stylish accessory on your wrist.</p>
        </div>
        <div class="grid-abt-2">
            <p>At our premium watch collection, we believe that a watch is more than just a timekeeping device – it's a statement piece that reflects your personality and style. So why settle for anything less than the best? Browse our collection today and discover the perfect watch for you.</p>
        </div>
        </div>
        <div class="abt-blank"></div>
        <div class="abt-us-img">
    
            <img src="https://s3-alpha-sig.figma.com/img/ef39/52ff/ddf3148451bd2db71f02b9d2f8ebb2da?Expires=1721606400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Gs0MUrr1ixPIoqxeWlJOH8KKF7a-0O90ojPGS3uqBQ6r~QPutYOOhHR0ZUVzJ7N9pMEl-fCC89AffHU~zsSm7X-e-sFhJYqqELl8gkfVKWvs~~E2D5uiEhSx4-nz~bN4CsUJVFB~extZMzS-gigtLH9nd6C6Z3LEjALQ8PsYGJOUKCWdYWWL3LP--gQQWOfVsXWNcVIr3Uwyv~3ti59P2EhkdohHXMjFyeG1yk5ndbjzRAPvwlD8XHcSGH6WaROoA-e01ksaDYb7v0DzGlI4bQ2UOiZQGlaldLbyAOTem0Q1SZ3AiRLh6sVyHiXizeBZ0deAuLBy3PBzHGAM4KKs4Q__" alt="watchgif">
        
        </div>
    
</div>
