<div class="container-catalog">
    <h2>Catalog</h2>
    <ul>
        <li>
            <div class="container-catalog-img">
                <img src="https://s3-alpha-sig.figma.com/img/7677/be2f/bf72915871b1728900d01b01f34776d4?Expires=1721606400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=CzEan-tPuxBK02nOE08u1ZBxoU2AT5lBLYlHmi6qsKzxGiSKJ05YpIZz823jxbwtOgbpm2yVDSg~2UrRYq6u3dxRrX-sWqxVfXMjbEyv4qpOGocrfjy2UbiyDfzOZUMxWBNxGi-IhXeNMJx-mrOXIGdmXiiV9Gv6e3PKpnnKHqkdaAu8~pip6Oyp5AhRznXfgaRTtkCfXxmQkMCAfQQXRP9svT~8decP1SVaUvpf4keb91nsUXH4nRfSraqTzPcvvwqc1b7H16NCoTYO3uWPzVWJcxkJuQgHU~A7h8wEWezFTokvi3FlaxtGeEZP-SF9082twENoCh1Cyeuwbtmoxw__" alt="1">
                <div class="hover-text">
                    <h3>DESCRIPTION</h3>
                    <p>Richly detailed with an understated design - the Police Men’s Greenlane watch.</p>
                    <h3>DETAILS & FEATURESTION</h3>
                    <p>Gender: man
                        Size: 46x54.5mm
                        Case Colour: Steel
                        Band Material: Metal
                        Case Material: Metal
                        Features: Multifunction
                        Water Resistant: 5 (ATM)
                        Band Colour: Steel</p>
                </div>
            </div>
            <div class="catalog-content">
                <p>Tube Watch S42 Date Steel With Black Case</p>
                <span>€395</span>
            </div>
        </li>
        <li>
            <div class="container-catalog-img">
                <img src="https://s3-alpha-sig.figma.com/img/e3fa/32c1/c4eca22c3a9a7a06e7e2d4aa4524a900?Expires=1721606400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=MDKj3GeThDBsu3-SUikMwwTdY1v2~5SZRKZIa1TDQdje~Ag8sTyR741lpm1pT~bGu8MrPHyJuuvkU72O0IDyvXWbO7z-xyaHvd0RJJ1yayNHV0ocEXOiX3v2~s7WctuXvVNB1jWMpfkrpKRjqa~jQI8o8ajGeugXZ71szucuTRH2tnDtE08acoQVBljs2Agq4M~LAnrxx34eMDfGdlkO5Glt9ITrRlSlKXFoUhFOkWI4rkBATJFoAfiKfoFdhK9sRX3js~3z0DudrUPgJKolUHkcoY4dAiutYiPn74OIvfet6Mr4cnGkxFvYVtKpD4qDFekUM43jrGO16CIt5S6pdA__" alt="2">
                <div class="hover-text">
                    <h3>DESCRIPTION</h3>
                    <p>Richly detailed with an understated design - the Police Men’s Greenlane watch.</p>
                    <h3>DETAILS & FEATURESTION</h3>
                    <p>Gender: man
                        Size: 46x54.5mm
                        Case Colour: Steel
                        Band Material: Metal
                        Case Material: Metal
                        Features: Multifunction
                        Water Resistant: 5 (ATM)
                        Band Colour: Steel</p>
                </div>
            </div>
            <div class="catalog-content">
                <p>Avondale Watch Police For Men</p>
                <span>€800</span>
            </div>
        </li>
        <li>
            <div class="container-catalog-img">
                <img src="https://s3-alpha-sig.figma.com/img/82e4/1dc7/92979ae32295cf98eb2ad075d32d8536?Expires=1721606400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=XFe-0fU6eWNkr4A~tLN4R0oHK4p68sspzFqunieVFk5BnrMDWcSUMS5lxgsYt70URH3bd1CGzd47XpGFcPI74uc7zJJHGBIFi0tVj0lQM8ZoVbpcGqf7QeNLLHc65XEbVL1ZDWGf84inn93b3PqlW5Y~Zci8yVBi6iAp3PW2MeKszqo8qjyQt8gmS77dy7Qq1YYURjwKajRYCD~QMICRU00o0im-s353d6smDGceH~ZcI-49ZrZ7TRJmb6LnVAh~PzsjNRjGhZS1HB5uAflPHuM2YcMNY8VvuRqb7dG8qMy87oYypAPsTkhnwwRyP1x2ulSYKTnzQn827DZP9PK7kQ__" alt="3">
                <div class="hover-text">
                    <h3>DESCRIPTION</h3>
                    <p>Richly detailed with an understated design - the Police Men’s Greenlane watch.</p>
                    <h3>DETAILS & FEATURESTION</h3>
                    <p>Gender: man
                        Size: 46x54.5mm
                        Case Colour: Steel
                        Band Material: Metal
                        Case Material: Metal
                        Features: Multifunction
                        Water Resistant: 5 (ATM)
                        Band Colour: Steel</p>
                </div>
            </div>
            <div class="catalog-content">
                <p>Diver  300M Co‑Axial Master Chronometer Chronograph</p>
                <span>€600</span>
            </div>
        </li>
        <li>
            <div class="container-catalog-img">
                <img src="https://s3-alpha-sig.figma.com/img/7c67/c5c1/686f61a7cf2dbebfc3cbb964678d5d9a?Expires=1721606400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=pIppRKJaMTrOs4GPDEBjTCyQIAU0TyGl7NaWPePXHNKiIsg6lGoL7G9sfuhQwGpWz1BWlZBta7-otE8iASTCEgo6jVaIkCKZjSe950x9pdsHVc2j1KYkRD-BcHGDrvUPKqucs2N9joJhugsHMAfM3r0ZSDvnQewWS0jhXDXYoA61XV-V6TMP3MLL5x17Vemn4eYhp2qRx~7ah1fOcr9jVgnC4UGBaU06-bg6TOMWNUwJmxo0LsDY7jkJe~g4GjedTQ1B1smkgtA2VyVeQpr3C0IsvViG0f1tUrrz8ZXk2w4WB0ryehMvmk0d4yuhE254Y-UY8XwtM43Z59996G07uw__" alt="4">
                <div class="hover-text">
                    <h3>DESCRIPTION</h3>
                    <p>Richly detailed with an understated design - the Police Men’s Greenlane watch.</p>
                    <h3>DETAILS & FEATURESTION</h3>
                    <p>Gender: man
                        Size: 46x54.5mm
                        Case Colour: Steel
                        Band Material: Metal
                        Case Material: Metal
                        Features: Multifunction
                        Water Resistant: 5 (ATM)
                        Band Colour: Steel</p>
                </div>
            </div>
            <div class="catalog-content">
                <p>Diver 300M Co-Axial Master Chronometer </p>
                <span>€1400</span>
            </div>
        </li>
        <li>
            <div class="container-catalog-img">
                <img src="https://s3-alpha-sig.figma.com/img/c152/d92e/03755cd473e7221168e4c8b36675d205?Expires=1721606400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=MIHLMbmjarAJNpJ962trZPB0y8nY9CySD9CoLY9RaM7Npy20Z2HjW79Ug5uBqO2f3XxPxmD1ZUbtmyNjrZ2DHW1JHK95iM3SNX0rGX08gryQyx1KbZeqgKwFHBa-7mkMLErAwN2finLhoclHUmyvNoNlzV2-09547ws2HcMTSmLDhj3CI0Vnzd~TR4V98EGs6BjpkC5KTkfeKBv~AiahjPCbgcN9Fv1Ac5IohkcNUigPCFkxlR-3bD7dWPX44M9KvwytGrFDiBo8YvWbYB9o~5JXh8D4QbnCmmw0NHVgojljSosSBdt0lopu2aiyiL~snMoGyx3SvyHKSyAkrJEanA__" alt="5">
                <div class="hover-text">
                    <h3>DESCRIPTION</h3>
                    <p>Richly detailed with an understated design - the Police Men’s Greenlane watch.</p>
                    <h3>DETAILS & FEATURESTION</h3>
                    <p>Gender: man
                        Size: 46x54.5mm
                        Case Colour: Steel
                        Band Material: Metal
                        Case Material: Metal
                        Features: Multifunction
                        Water Resistant: 5 (ATM)
                        Band Colour: Steel</p>
                </div>
            </div>
            <div class="catalog-content">
                <p>Taman Watch By Police For Men</p>
                <span>€500</span>
            </div>
        </li>
        <li>
            <div class="container-catalog-img">
                <img src="https://s3-alpha-sig.figma.com/img/5793/fe1e/f05851319d3001d21cdd781c98d98d69?Expires=1721606400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=PThbg4~R7aA648MQkzxEjM89oYb6pYUaCMxdXTVlaieHHFqnbNNyj7FloGV4CieIyDY1qKkX~U1C2fOdfR2Qce7opxZK0c27-UAv55vaClS3gAiXklTlcDXlid-wc28XqzX3QL85dQNsVTztRcYEQlC1s3fkUvOc0T1m0idMfwOSCzyOsd-88SAs-DRwQnQnD2USLaGMSH7~IrKqizvdCao1vZZj7tBKG1Z944CQUxtWRF3Ox~8Cv3cQDH0twc8~Y7e7SHB7LKvZg7NXTNite0tO-bR~hxju3ycV~0rRswIxsmt2JMw2Srmr5jIjeGxLf1x9W34vj4Ni2rjR6aGpGA__" alt="6">
                <div class="hover-text">
                    <h3>DESCRIPTION</h3>
                    <p>Richly detailed with an understated design - the Police Men’s Greenlane watch.</p>
                    <h3>DETAILS & FEATURESTION</h3>
                    <p>Gender: man
                        Size: 46x54.5mm
                        Case Colour: Steel
                        Band Material: Metal
                        Case Material: Metal
                        Features: Multifunction
                        Water Resistant: 5 (ATM)
                        Band Colour: Steel</p>
                </div>
            </div>
            <div class="catalog-content">
                <p>Malawi Watch Police For Men</p>
                <span>€555</span>
            </div>
        </li>
        <li>
            <div class="container-catalog-img">
                <img src="https://s3-alpha-sig.figma.com/img/4e95/fea5/e772b60fa87ef8acd2c98fdf1babe5fd?Expires=1721606400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=XrA70rp1-qKjOf7F~0qqCfz4zKKMVhOMo3EMCuhTplhkt6Xl1IqwyMmc2IWQhCQfMHw1N0B~T3SV6QyEPiGIBX6diq~XTPbTuhUqvNaFv-34iuneCs5efjBJMlIqHnTk1FtU8NxpulawBHJq-N7rX5AdwCfX0IjLXkGAvOPjr4OpStsod7weH5Wv2Z5DuTYE7oRF96fO1JkCw7qH0ssPgrTqbSOK3245KCpSJr7Jg6adEXU~dnlAAonWj1BLIlcexkCpw6J54gfKCI0FlZwYdVrPN~HF5iPVtnVD~2lrjTcYiSIme~i-42y0EcyYnWqEoBUIwTAjhyykY7bfiYP9RQ__" alt="7">
                <div class="hover-text">
                    <h3>DESCRIPTION</h3>
                    <p>Richly detailed with an understated design - the Police Men’s Greenlane watch.</p>
                    <h3>DETAILS & FEATURESTION</h3>
                    <p>Gender: man
                        Size: 46x54.5mm
                        Case Colour: Steel
                        Band Material: Metal
                        Case Material: Metal
                        Features: Multifunction
                        Water Resistant: 5 (ATM)
                        Band Colour: Steel</p>
                </div>
            </div>
            <div class="catalog-content">
                <p>Diver 300M Co-Axial Master Chronometer </p>
                <span>€1200</span>
            </div>
        </li>
        <li>
            <div class="container-catalog-img">
                <img src="https://s3-alpha-sig.figma.com/img/7c81/5c21/66140847ea18b9d058e7eeb2a835e9c8?Expires=1721606400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=MUPNHvU9ZbvrXYx5L9gh7oxYkfMMUWHGC75GaDo74qPdJCzaJwCyiXHOu3Fuz7oz5gt6jEW~tsm0p1LGzGVV46KABqom7GWLl3fqTvWhmyaI0OYecU5o1w~tP1IGQfU3IbEeHgBBD0npc~GNtiZPFX9l8wjtzRvdoI5s62ZJZWH4CVGOa4SnK9dmJnjKZ804VnKvZzTnm4tpNxgzmlJneytABvPYYPHHndE~sXnlcPA40jQBLUtAb0uBpFhZfDI7UEnwaRa4uZAsoP0c56WEnpgZU4CG5QJ4NmE9s-aWg9E9z5qmWp-xpz11wZOntTZeWEOe9NecUwIcCCxo4c0c6A__" alt="8">
                <div class="hover-text">
                    <h3>DESCRIPTION</h3>
                    <p>Richly detailed with an understated design - the Police Men’s Greenlane watch.</p>
                    <h3>DETAILS & FEATURESTION</h3>
                    <p>Gender: man
                        Size: 46x54.5mm
                        Case Colour: Steel
                        Band Material: Metal
                        Case Material: Metal
                        Features: Multifunction
                        Water Resistant: 5 (ATM)
                        Band Colour: Steel</p>
                </div>
            </div>
            <div class="catalog-content">
                <p>Greenlane Watch By Police For Men</p>
                <span>€1000</span>
            </div>
        </li>
        <li>
            <div class="container-catalog-img">
                <img src="https://s3-alpha-sig.figma.com/img/bf7f/49b2/6c021c8a228ff69c03bafcd51c8e072a?Expires=1721606400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=VpDNyrraHBT5MIe2D2J9oOXCrxpRe50AJ1uqsoMNFQgU-cOlbpzd5snetpyC5fJL2pYxzNCNRFIUKWh7QAdkO4bwAD9oyXDPlH5VC9fZuB70ofu9Ucgry1TQTPC7tgdLVmzh2LRK2gGybjxMZw7V9u9AcCunR9QzHaC9jaYoBZvPQj0kiYqtp0LqOUC7xYxpk~xEy1YwPFi1OxlZ~hICMAzI33p5wdfOX2CBLxNLJpJZ3Twoe4GxgnHdpfkva80vKhdiqBOaO8WSnxrX0iGAGmI0rGvBa7DHIbgthOocX3NmjUok4layEXPR1vzAja4tury5~b-66Ugn-k3~wRcI4w__" alt="9">
                <div class="hover-text">
                    <h3>DESCRIPTION</h3>
                    <p>Richly detailed with an understated design - the Police Men’s Greenlane watch.</p>
                    <h3>DETAILS & FEATURESTION</h3>
                    <p>Gender: man
                        Size: 46x54.5mm
                        Case Colour: Steel
                        Band Material: Metal
                        Case Material: Metal
                        Features: Multifunction
                        Water Resistant: 5 (ATM)
                        Band Colour: Steel</p>
                </div>
            </div>
            <div class="catalog-content">
                <p>Squardrc 5402 Chrono</p>
                <span>€359</span>
            </div>
        </li>
        <li>
            <div class="container-catalog-img">
                <img src="https://s3-alpha-sig.figma.com/img/e28b/d8a8/08c2343481f37a7e50f3798be66394ef?Expires=1721606400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=jczQHm8T~0nKhZCCLMdj4eo3ZJELd50n2eveu9fNAje6rHNVImyNx6PiCqNbE8QF1ID~ORhEGoKBbpQymerwppN2L8gt31ndTbxbuRcbzoVSg9zzeFEFDvK3ILdzhhv1iFDixAnxhYM~~MiT3AuJstaNc42yndua3rugEN~mCVYse3SLVzAyojMQDTjOXEx4D0ahHpfVnaj1fzYwaEOaIR4l6XIi0oAjqpmEH9eltUCGUSNraig36fOBpfMoeJQOlxPXdl7EXbmZlWD3MoZMZoCR96VcCNZCF1SPOCXs3KmXvtjdcjxL896chG-46KIRTRc9RIZOnWsEpFz45qdarg__" alt="10">
                <div class="hover-text">
                    <h3>DESCRIPTION</h3>
                    <p>Richly detailed with an understated design - the Police Men’s Greenlane watch.</p>
                    <h3>DETAILS & FEATURESTION</h3>
                    <p>Gender: man
                        Size: 46x54.5mm
                        Case Colour: Steel
                        Band Material: Metal
                        Case Material: Metal
                        Features: Multifunction
                        Water Resistant: 5 (ATM)
                        Band Colour: Steel</p>
                </div>
            </div>
            <div class="catalog-content">
                <p>Diver  300M Co‑Axial Master Chronometer Chronograph</p>
                <span>€400</span>
            </div>
        </li>
        <li>
            <div class="container-catalog-img">
                <img src="https://s3-alpha-sig.figma.com/img/f3c6/753e/50045d872732083c224d63bf1fd3b54d?Expires=1721606400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=OmCSTy1YpgzfOpcIlQ24yO03SnpFc3SXOEYeph4SS0SRlksD4Yt~TtVFcAeknY6y1BGVa~770uQH63md647issA3Njhxx43ndwn9NNW0yzIdcFXRThSRQb~iN7L-WJs02nfHqiGqLqQF9uj7PQhTMiXFZ2DlD6qWkRVAOFGl~GOCDmc-1HupHmiyMsWWDcCXt21rHHO6kFwkgLDCggSpScZKOuiwo03bGEwO7d~BAoIyshRni-LVPOI9ZBvVcYtdz5i5iM9rdX-QgxOe~zydMeFQZEKrzRH7nsNtcFxXO6IPBHcqWXrEtFwS5iG1f2iwTMCFI66jYx5~FZvcwMzdWw__" alt="11">
                <div class="hover-text">
                    <h3>DESCRIPTION</h3>
                    <p>Richly detailed with an understated design - the Police Men’s Greenlane watch.</p>
                    <h3>DETAILS & FEATURESTION</h3>
                    <p>Gender: man
                        Size: 46x54.5mm
                        Case Colour: Steel
                        Band Material: Metal
                        Case Material: Metal
                        Features: Multifunction
                        Water Resistant: 5 (ATM)
                        Band Colour: Steel</p>
                </div>
            </div>
            <div class="catalog-content">
                <p>Citizen</p>
                <span>€519</span>
            </div>
        </li>
        <li>
            <div class="container-catalog-img">
                <img src="https://s3-alpha-sig.figma.com/img/3b48/0cc1/ea6e53b2f8d842649a07a40f3ead8087?Expires=1721606400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=U6DhFm1p3lZ-KZasmHtbyq3WQKccF1FdTRfmnmtu7BkUa00ZRCJSM~PiJzgo0fPK7K2PdHPFHCeIOnmZ4EVqXQPGHsPoQEN10OnakOvI07l7CSledDD48XJzqCrK12bLg7cFKO5OTWnzZeHLVJoiUrY7UyDzO53vUCiJkvUGRyvIa4iCZeuYVTqi8lYWljQQXni790~flbyzjH6Qh5ONW1dzS0fS0Z1Vwe7n0-P~RyalShTvmsCgaGlTI16VzQzsJpLmPusyVjc8s4OaKnRMhT4utVKAWP8IniHNQSe2GHfL9EZlKmwO5Aouhca9qRMOtIR-c5vt6SJygTQVDwvcdw__" alt="12">
                <div class="hover-text">
                    <h3>DESCRIPTION</h3>
                    <p>Richly detailed with an understated design - the Police Men’s Greenlane watch.</p>
                    <h3>DETAILS & FEATURESTION</h3>
                    <p>Gender: man
                        Size: 46x54.5mm
                        Case Colour: Steel
                        Band Material: Metal
                        Case Material: Metal
                        Features: Multifunction
                        Water Resistant: 5 (ATM)
                        Band Colour: Steel</p>
                </div>
            </div>
            <div class="catalog-content">
                <p>Armani Exchange</p>
                <span>€400</span>
            </div>
        </li>
    </ul>
    <button id="buy-now-btn">BUY NOW!</button>
</div>

<!-- modal -->

<div id="modal" class="modal">
    <div class="modal-content">
        <span class="close-btn">&times;</span>
        <div class="modal-body">
            <div class="modal-image">
                <img src="https://s3-alpha-sig.figma.com/img/7677/be2f/bf72915871b1728900d01b01f34776d4?Expires=1721606400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=CzEan-tPuxBK02nOE08u1ZBxoU2AT5lBLYlHmi6qsKzxGiSKJ05YpIZz823jxbwtOgbpm2yVDSg~2UrRYq6u3dxRrX-sWqxVfXMjbEyv4qpOGocrfjy2UbiyDfzOZUMxWBNxGi-IhXeNMJx-mrOXIGdmXiiV9Gv6e3PKpnnKHqkdaAu8~pip6Oyp5AhRznXfgaRTtkCfXxmQkMCAfQQXRP9svT~8decP1SVaUvpf4keb91nsUXH4nRfSraqTzPcvvwqc1b7H16NCoTYO3uWPzVWJcxkJuQgHU~A7h8wEWezFTokvi3FlaxtGeEZP-SF9082twENoCh1Cyeuwbtmoxw__" alt="1">
                <div class="catalog-content">
                    <p>Tube Watch S42 Date Steel With Black Case</p>
                    <span>€395</span>
                </div>
            </div>
            <div class="modal-form">
                <div>
                    <label for="fullname">Fullname</label>
                    <input type="text" id="fullname" placeholder="Enter your full name">
                </div>
                <div>
                    <label for="email">Email</label>
                    <input type="email" id="email" placeholder="Enter your email">
                </div>
                <div>
                    <label for="cardnumber">Card Number</label>
                    <input type="numer" id="number" placeholder="Enter your card">
                </div>
                <div>
                    <label for="comment">Comments</label>
                    <textarea id="comment" id="comment" rows="10" placeholder="Enter your text"></textarea>
                </div>
                <button id="submit-btn">Submit</button>
                <div class="submit-content">By clicking on “Submit” button, you agree to our Privacy Policy, <br>
                    and allow Promodo to use this information for marketing purposes.</div>
            </div>
        </div>
        
    </div>
</div>