<footer>
    <div class="footer-wrapper">
        <div class="footer-1">
        <img src="/src/images/hero-header/logo.png" alt="">
        <p>+380 (68) 443-94-26</p>
        <p>1678 S. Pioneer Road
            Salt Lake City
            UT 84104</p>
        </div>
        <div class="footer-2">
            <ul>
                <li><a href="#">ABOUT US</a></li>
                <li><a href="#">CATALOG</a></li>
                <li><a href="#">SALE</a></li>
            </ul>
        </div>
        <div class="footer-3">
            <ul>
                <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="footer-content">
        <p>©2022 The Watch Spot. All rights reserved.</p>
        <ul>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#1">Terms of Service</a></li>
        </ul>
</footer>