<header>
<!-- nav -->
  <div class="header-sec"> 
    <div class="logo">
      <img src="/src/images/hero-header/logo.png" alt="logo">
      <span>thewatchspot</span>
    </div>
    
    <nav>
      <a href="">ABOUT US</a>
      <a href="">CATALOG</a>
      <a href="">SALE</a>
    </nav>

    <button class="nav-collapse" onclick="menuBTN(menuID)">
      <div></div>
      <div></div>
      <div></div>
    </button>

    <div id="menuID" style="display: none;">
      <div class="menu-head">
        <div class="logo">
          <img src="/src/images/hero-header/logo.png" alt="logo">
          <span>thewatchspot</span>
        </div>
        <span id="menu-close">x</span>
      </div>
      
      <nav class="nav-mobile">
        <a href="">ABOUT US</a>
        <a href="">CATALOG</a>
        <a href="">SALE</a>
      </nav>
    </div>

    <div class="contact-no">
      <span>+380 (68) 443-94-26</span>
    </div>
  </div>
<!-- HERO -->
  <div class="hero-sec">
    <h1>Welcome to our collection of premium watches</h1>
    <p>Our watches are not just timepieces, but also an expression of your personality and lifestyle. From classic designs to modern ones, we have a watch to suit every taste and occasion.</p>

    <div class="swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <img src='/src/images/hero-header/garmin.png' alt="Garmin" class="watch-slide-img">
        </div>
        <div class="swiper-slide">
          <img src='/src/images/hero-header/timex.png' alt="Timex" class="watch-slide-img">
        </div>
        <div class="swiper-slide">
          <img src='/src/images/hero-header/omega.png' alt="Omega" class="watch-slide-img">
        </div>
        <div class="swiper-slide">
          <img src='/src/images/hero-header/omega-black.png' alt="Omega Black" class="watch-slide-img">
        </div>
        <div class="swiper-slide">
          <img src='/src/images/hero-header/omega-aqua.png' alt="Omega Aqua" class="watch-slide-img">
        </div>
      </div>
      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>

      <div class="swiper-pagination"></div>
    </div>
    
    <img src="/src/images/hero-header/water-res-watch.png" alt="water resistance watch" class="highlight-img">
  </div>

  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script src="index.js"></script>
  <script>
    const swiper = new Swiper('.swiper', {
  // Optional parameters

  // Navigation arrows
  navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev',
  },

  pagination: {
          el: '.swiper-pagination',
          type: 'fraction',
          clickable: true,

        renderFraction: function (currentClass, totalClass) {
        return '<span class="' + currentClass + '"></span>' + ' <span>&nbsp ———— &nbsp</span> ' + '<span class="' + totalClass + '"></span>'; }
        },

});
  </script>
</header>